In [1]:
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image
import pickle
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn import cross_validation

/Users/maksym/virtualenvs/machine_learning/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('globalterrorismdb_0617dist.csv', encoding = "ISO-8859-1")

/Users/maksym/virtualenvs/machine_learning/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2705: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
df['imonth'] = df['imonth'].replace([0], 1)
df['iday'] = df['iday'].replace([0], 1)

In [5]:
import datetime
_date = df[['iyear', 'imonth', 'iday']].apply(lambda x: datetime.date(*x), axis=1)
df['date'] = _date

In [6]:
df.drop(df[['iyear', 'imonth', 'iday']], axis=1)

,eventid,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,date
0,197000000001,NaN,0,NaN,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,...,NaN,NaN,NaN,PGIS,0,0,0,0,NaN,1970-07-02
1,197000000002,NaN,0,NaN,130,Mexico,1,North America,NaN,Mexico city,...,NaN,NaN,NaN,PGIS,0,1,1,1,NaN,1970-01-01
2,197001000001,NaN,0,NaN,160,Philippines,5,Southeast Asia,Tarlac,Unknown,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1970-01-01
3,197001000002,NaN,0,NaN,78,Greece,8,Western Europe,Attica,Athens,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1970-01-01
4,197001000003,NaN,0,NaN,101,Japan,4,East Asia,NaN,Fukouka,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1970-01-01
5,197001010002,NaN,0,NaN,217,United States,1,North America,Illinois,Cairo,...,"""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN,1970-01-01
6,197001020001,NaN,0,NaN,218,Uruguay,3,South America,Montevideo,Montevideo,...,NaN,NaN,NaN,PGIS,0,0,0,0,NaN,1970-01-02
7,197001020002,NaN,0,NaN,217,United States,1,North America,California,Oakland,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1970-01-02
8,197001020003,NaN,0,NaN,217,United States,1,North America,Wisconsin,Madison,...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,NaN,1970-01-02
9,197001030001,NaN,0,NaN,217,United States,1,North America,Wisconsin,Madison,...,Committee on Government Operations United Stat...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project,0,0,0,0,NaN,1970-01-03
10,197001050001,NaN,0,NaN,217,United States,1,North America,Wisconsin,Baraboo,...,NaN,NaN,NaN,PGIS,0,0,0,0,NaN,1970-01-01
11,197001060001,NaN,0,NaN,217,United States,1,North America,Colorado,Denver,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1970-01-06
12,197001080001,NaN,0,NaN,98,Italy,8,Western Europe,Lazio,Rome,...,NaN,NaN,NaN,Hijacking DB,-9,-9,1,1,NaN,1970-01-08
13,197001090001,NaN,0,NaN,217,United States,1,North America,Michigan,Detroit,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1970-01-09
14,197001090002,NaN,0,NaN,217,United States,1,North America,Puerto Rico,Rio Piedras,...,Committee on the Judiciary United States Sena...,"""No Evidence Of Arson Found In Barkers Fire,"" ...","""Toward People's War for Independence and Soci...",Hewitt Project,0,0,0,0,NaN,1970-01-09
15,197001100001,NaN,0,NaN,499,East Germany (GDR),9,Eastern Europe,NaN,East Berlin,...,NaN,NaN,NaN,PGIS,0,1,1,1,NaN,1970-01-10
16,197001110001,NaN,0,NaN,65,Ethiopia,11,Sub-Saharan Africa,Unknown,Unknown,...,NaN,NaN,NaN,PGIS,0,1,1,1,NaN,1970-01-11
17,197001120001,NaN,0,NaN,217,United States,1,North America,New York,New York City,...,"""Blast Damages Flatbush School,"" New York Time...","Linda Greenhouse, ""Madison School Puzzled By B...",Committee on Government Operations United Stat...,Hewitt Project,-9,-9,0,-9,NaN,1970-01-12
18,197001120002,NaN,0,NaN,217,United States,1,North America,Puerto Rico,Rio Grande,...,Committee on the Judiciary United States Sena...,"""Toward People's War for Independence and Soci...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1970-01-12
19,197001130001,NaN,0,NaN,217,United States,1,North America,Washington,Seattle,...,Committee on Government Operations United Stat...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN,1970-01-13
20,197001140001,NaN,0,NaN,217,United States,1,North America,Illinois,Champaign,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Peter F. Nardulli and Jeffrey M. Stonecash, ""P...",Hewitt Project,-9,-9,0,-9,NaN,1970-01-14
21,197001150001,NaN,0,NaN,218,Uruguay,3,South America,Montevideo,Montevideo,...,NaN,NaN,NaN,PGIS,0,0,0,0,NaN,1970-01-15
22,197001190002,NaN,0,NaN,217,United States,1,North America,Washington,Seattle,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Seattle University, ""1965-1975: Troubled Times...",Hewitt Project,-9,-9,0,-9,NaN,1970-01-19
23,197001190003,NaN,0,NaN,217,United States,1,North America,Washington,Seattle,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Earl Caldwell, ""Fear Grows In Seattle As Polic...",Hewitt Project,-9,-9,0,-9,NaN,1970-01-19
24,197001190004,"January 19-20, 1970",0,NaN,217,United States,1,North America,New Jersey,Jersey City,...,Committee on Government Operations United Stat...,"""Black Panthers Say Office Was Bombed,"" New Yo...","""30 Shots Fired Into Office of Panthers in Jer...",Hewitt Project,-9,-9,0,-9,NaN,1970-01-19
25,197001200001,NaN,0,NaN,83,Guatemala,2,Central America & Caribbean,NaN,Guatemala City,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1970-01-20
26,197001210001,NaN,0,NaN,160,Philippines,5,Southeast Asia,Metropolitan Manila,Quezon City,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1970-01-21
27,197001220001,NaN,0,NaN,222,Venezuela,3,South America,Caracas,Caracas,...,NaN,NaN,NaN,PGIS,0,0,0,0,NaN,1970-01-22
28,197001220002,NaN,0,NaN,217,United States,1,North America,Nebraska,South Sioux City,...,Committee on Government Operations United Stat...,"""Beef Plant Workers in Nebraska Await Call to ...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1970-01-22
29,197001250001,NaN,0,NaN,217,United States,1,North America,Mississippi,West Point,...,"""Miss. City Is Desegregation Trouble Spot,"" Ch...",NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN,1970-01-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170320,201612310011,NaN,0,NaN,160,Philippines,5,Southeast Asia,Maguindanao,Elian,...,"""Philippines: BIFF attacks soldiers in North C...",NaN,NaN,START Primary Collection,0,0,0,0,NaN,2016-12-31
170321,201612310012,NaN,0,NaN,19,Bangladesh,6,South Asia,Rangpur,Sundarganj,...,"""Ruling party lawmaker shot dead in Bangladesh...","""Liton murder: PM blames Jamaat,"" Bangladesh D...","""Gaibandha MP shot dead at home,"" Bangladesh D...",START Primary Collection,0,0,0,0,NaN,2016-12-31
170322,201612310013,NaN,0,NaN,153,Pakistan,6,South Asia,Punjab,Sahiwal,...,"""Suicide attack foiled in Rahim Yar Khan; two ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-30
170323,201612310014,NaN,0,NaN,173,Saudi Arabia,10,Middle East & North Africa,Jazan,Unknown,...,"""Rebel fire from Yemen kills Saudi soldier,"" T...","""Saudi Soldier killed due to rebel fire from Y...","""Saudi soldier killed by Houthi fire on Yemen ...",START Primary Collection,1,1,0,1,NaN,2016-12-31
170324,201612310015,NaN,0,NaN,4,Afghanistan,6,South Asia,Kabul,Kabul,...,"""Wounded bride: All my dreams shattered,"" Pajh...","""Highlights: Pakistan Pashto Press 1 January D...",NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170325,201612310016,NaN,0,NaN,34,Burundi,11,Sub-Saharan Africa,Bubanza,Muzinda,...,"""Grenade explosion injures 8 in church in Buru...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170326,201612310017,NaN,0,NaN,153,Pakistan,6,South Asia,Khyber Pakhtunkhwa,Peshawar,...,"""ANP leader Rahim Barakazi killed in Peshawar,...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170327,201612310019,NaN,0,NaN,92,India,6,South Asia,Manipur,Imphal,...,"""Bomb found at Imphal, hospital closed down,"" ...","""Bomb found at Imphal, hospital closed down,"" ...",NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170328,201612310022,2016-12-31 00:00:00,0,NaN,4,Afghanistan,6,South Asia,Farah,Bagh Kafi,...,"""Farah ALP officer wounded in gun attack,"" Paj...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170329,201612310023,2016-12-31 00:00:00,0,NaN,4,Afghanistan,6,South Asia,Logar,Mohammad Agha district,...,"""Afghanistan: Nangarhar, Logar Clashes Result ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170330,201612310024,NaN,0,NaN,147,Nigeria,11,Sub-Saharan Africa,Borno,Maiduguri,...,"""Nigerian girl, 10, used in suicide bomb attac...","""Suicide bomber, aged 10, blows herself up in ...","""10-year-old girl used as human bomb in Nigeri...",START Primary Collection,0,0,0,0,NaN,2016-12-31
170331,201612310025,2016-12-31 00:00:00,0,NaN,95,Iraq,10,Middle East & North Africa,Saladin,Mutaybijah,...,"""Iraq: Security Roundup 1900 GMT 31 December 2...",NaN,NaN,START Primary Collection,0,1,0,1,NaN,2016-12-31
170332,201612310026,NaN,0,NaN,95,Iraq,10,Middle East & North Africa,Baghdad,Baghdad,...,"""Double bomb attack hits crowded Baghdad marke...","""Dozens Killed In Baghdad Blasts Claimed By Is...",NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170333,201612310027,NaN,0,NaN,95,Iraq,10,Middle East & North Africa,Baghdad,Baghdad,...,"""Double bomb attack hits crowded Baghdad marke...","""Update: Baghdad bomb attacks kill 30 at eve o...","""28 killed in Baghdad double suicide bombing 2...",START Primary Collection,0,1,0,1,"201612310027, 201612310028",2016-12-31
170334,201612310028,NaN,0,NaN,95,Iraq,10,Middle East & North Africa,Baghdad,Baghdad,...,"""Double bomb attack hits crowded Baghdad marke...","""Update: Baghdad bomb attacks kill 30 at eve o...","""28 killed in Baghdad double suicide bombing 2...",START Primary Collection,0,1,0,1,"201612310027, 201612310028",2016-12-31
170335,201612310029,NaN,0,NaN,95,Iraq,10,Middle East & North Africa,Baghdad,Baghdad,...,"""Reuters: Baghdad blasts kill 29 as Mosul figh...","""Update: Baghdad bomb attacks kill 30 at eve o...","""Dozens Killed In Baghdad Blasts Claimed By Is...",START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170336,201612310030,NaN,0,NaN,95,Iraq,10,Middle East & North Africa,Baghdad,Baghdad,...,"""Update: Baghdad bomb attacks kill 30 at eve o...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170337,201612310031,NaN,0,NaN,95,Iraq,10,Middle East & North Africa,Nineveh,Mosul,...,"""CTS destroys 4 car bombs in eastern Mosul,"" I...",NaN,NaN,START Primary Collection,0,1,0,1,NaN,2016-12-31
170338,201612310033,NaN,0,NaN,153,Pakistan,6,South Asia,Khyber Pakhtunkhwa,Gajukhel,...,"""Two FC Balochistan personnel shot dead in Now...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170339,201612310034,NaN,0,NaN,4,Afghanistan,6,South Asia,Jawzjan,Zoqum,...,"""Jawzjan clash leaves 2 rebels dead, 8 wounded...",NaN,NaN,START Primary Collection,0,0,0,0,"201612310034, 201612310035, 201612310036, 2016...",2016-12-31
170340,201612310035,NaN,0,NaN,4,Afghanistan,6,South Asia,Jawzjan,Jakdalk,...,"""Jawzjan clash leaves 2 rebels dead, 8 wounded...",NaN,NaN,START Primary Collection,0,0,0,0,"201612310034, 201612310035, 201612310036, 2016...",2016-12-31
170341,201612310036,NaN,0,NaN,4,Afghanistan,6,South Asia,Jawzjan,Shirkhel,...,"""Jawzjan clash leaves 2 rebels dead, 8 wounded...",NaN,NaN,START Primary Collection,0,0,0,0,"201612310034, 201612310035, 201612310036, 2016...",2016-12-31
170342,201612310037,NaN,0,NaN,4,Afghanistan,6,South Asia,Jawzjan,Tofan,...,"""Jawzjan clash leaves 2 rebels dead, 8 wounded...",NaN,NaN,START Primary Collection,0,0,0,0,"201612310034, 201612310035, 201612310036, 2016...",2016-12-31
170343,201612310038,NaN,0,NaN,4,Afghanistan,6,South Asia,Jawzjan,Mangajek district,...,"""Afghansitan: Blast in Jowzjan Province Kills ...",NaN,NaN,START Primary Collection,0,0,0,0,NaN,2016-12-30
170344,201612310039,2016-12-31 00:00:00,0,NaN,4,Afghanistan,6,South Asia,Helmand,Lashkar Gah,...,"""Program Summary: Afghanistan-Pul-e Alam Zinat...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170345,201612310040,NaN,0,NaN,146,Niger,11,Sub-Saharan Africa,Diffa,Garoua,...,"""15 soldiers killed, 19 injured in Niger terro...","""Niger: Boko Haram attack kills two soldiers i...",NaN,START Primary Collection,1,1,0,1,NaN,2016-12-31
170346,201612310042,NaN,0,NaN,160,Philippines,5,Southeast Asia,Maguindanao,Talitay,...,"""AFP braces for more BIFF attacks in ARMM,"" Ma...","""Asia: US Army ASD Philippine Terrorist Media ...",NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170347,201612310043,NaN,1,NaN,229,Democratic Republic of the Congo,11,Sub-Saharan Africa,Bas-Uele,Nakolongbo,...,"""DRC Armed Forces Dislodge Ugandan LRA Rebels ...",NaN,NaN,START Primary Collection,1,1,0,1,NaN,2016-12-31
170348,201612310044,NaN,0,NaN,130,Mexico,1,North America,Chihuahua,Guachochi,...,"""Gunmen shoot at home of Mexican indigenous ri...","""Â– Gunmen shoot at home of Mexican indigenous ...",NaN,START Primary Collection,-9,-9,0,-9,NaN,2016-12-31
170349,201701270001,NaN,0,NaN,195,Sudan,11,Sub-Saharan Africa,Central Darfur,Nertiti,...,"""Rebels To Blame For Nierteti Killing: Central...","""Security deteriorates in West Darfur alongsid...",NaN,START Primary Collection,0,0,0,0,NaN,2016-12-30

In [16]:
df[['success', 'region_txt']].groupby(['region_txt'], as_index=False).mean()

                     region_txt   success
0         Australasia & Oceania  0.875000
1   Central America & Caribbean  0.964700
2                  Central Asia  0.897112
3                     East Asia  0.847607
4                Eastern Europe  0.862652
5    Middle East & North Africa  0.889811
6                 North America  0.837119
7                 South America  0.929059
8                    South Asia  0.884257
9                Southeast Asia  0.898367
10           Sub-Saharan Africa  0.933187
11               Western Europe  0.854112

In [17]:
df[['success', 'attacktype1_txt']].groupby(['attacktype1_txt'], as_index=False).mean()

                       attacktype1_txt   success
0                        Armed Assault  0.951819
1                        Assassination  0.767471
2                    Bombing/Explosion  0.885402
3       Facility/Infrastructure Attack  0.942699
4                            Hijacking  0.874582
5  Hostage Taking (Barricade Incident)  0.991131
6          Hostage Taking (Kidnapping)  0.977328
7                      Unarmed Assault  0.857612
8                              Unknown  0.857121